<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<!-- Spring上下文容器 -->
	<bean id="SpringApplicationContextHolder"
		class="com.iflytek.aio.common.util.SpringApplicationContextHolder"
		lazy-init="false" />

	<!-- 扫描文件（自动将service层注入） -->
	<context:component-scan base-package="com.iflytek.aio.service" />
	
	<!-- 扫描文件（自动将dao层注入） -->
	<context:component-scan base-package="com.iflytek.aio.mapper" />

	<!-- 集成Mybatis持久层框架 -->
	<import resource="spring-mybatis.xml" />
	   
</beans>